mixin button-primary(type, text, className, options)
  if type === 'link'
    a.button.button--primary(class=`${className || ''}`, href=options.link)= text
  else if type === 'submit'
    button.button.button--primary(type="submit", class=`${className || ''}`)= text

mixin button-primary-arrow(type, text, className, options)
  if type === 'link'
    a.button.button--primary.button--arrow(class=`${className || ''}`, href=options.link)= text

mixin button-secondary(type, text, className, options)
  if type === 'link'
    a.button.button--secondary(class=`${className || ''}`, href=options.link)= text

mixin button-tertiary-arrow(type, text, className, options)
  if type === 'link'
    a.button.button--tertiary.button--arrow(class=`${className || ''}`, href=options.link)= text